<h1>Appointment</h1>

<section class="doctor">
<h3>Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor.id)%></h3> 
</section>
<section class="patient">
<h3>Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient.id)%></h3>
</section>
<section class="app_date">
<h3>Date: <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M")%></h3>
</section>