<p>Doctor:</p>
<%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %>
<p>Patient:</p>
<%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>
<p>Appointment date and time:</p>
<%= link_to @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M%p") %>
